<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="http://tindailoan.net/media/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://tindailoan.net/media/css/style.css" type="text/css">
    <link rel="stylesheet" href="http://tindailoan.net/media/js/myCustom.js" type="text/css">
    {% comment %} InserScript {% endcomment %}
    {% if insertScriptHeader %}
        {{insertScriptHeader.script | safe}}
    {% endif %} 
    <link rel="stylesheet" href="http://tindailoan.net/media/node_modules/swiper/css/swiper.min.css">
    {% block image_logo%}
    {% endblock %}
    <title>{% block title%}{% endblock %}</title>
    {% comment %} end insert script {% endcomment %}
</head>

<body>
      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v6.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="101495014607966">
      </div>
    {% block content %}{% endblock %}

    <a class="ring" href="tel:0977138767">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle"></div>
        </div>
    </a>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://tindailoan.net/media/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="http://tindailoan.net/media/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://tindailoan.net/media/js/index.js"></script>
    <script src="http://tindailoan.net/media/node_modules/swiper/js/swiper.min.js"></script>
    <script>
        
        var swiper = new Swiper('.swiper-container', {
        // direction: 'vertical',

        autoplay: true,
        pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>

   
</body>

</html>