<footer>
    <div class="container">
        <div class="ct-footer">
            <div class="row align-center">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="#">
                            <img class="img-fluid" src="images/home/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cpr">
                        <strong>Copyright 2017</strong>, All rights reserved
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="arp">
                        © THÔNG TIN TỔNG HỢP TAIWAN™
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if insertScriptFooter %}
        {{insertScriptFooter.script | safe}}
    {% endif %}
</footer>