{% load static %}
{% comment %} {% load staticfiles %} {% endcomment %}
<!-- main -->
<div class="main-page">
    <div class="container">
        <div class="row">
            <!-- left -->
            <div class="col-lg-8">
                <!-- section news -->
                <div class="block-news mb-5">
                    <div class="row roww flex-column-reverse flex-md-row">
                        <div class="col-md-7 coll">
                            <div class="news-vel">

                                <div class="thumb mb-3">
                                    <a href="#">
                                        <img class="img-fluid" src="{{newNews.avata.url}}" alt="">
                                    </a>
                                </div>
                                <div class="ct">
                                    <h6 class="title">
                                        <a href="{% url 'home:detail' slug=newNews.slug %}">{{newNews.title}}</a>
                                    </h6>
                                    <div class="time">
                                        <span>{{newNews.create_at}}</span>
                                    </div>
                                    <div class="desc">
                                        {{newNews.description | safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 coll">
                            <!-- Swiper -->
                            <div class="swiper-container swiper-banner">
                                <div class="swiper-wrapper">
                                    {% for image in imagesSlider %}
                                        <div class="swiper-slide">
                                            <img class="img-fluid" src="{{image.image_slide.url}}" alt="">
                                        </div>
                                    {% endfor %}
                                 </div>
                                    <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.section news -->

                <!-- section -->
                <div class="cate-wrap mb-4">
                    <h4 class="heading">
                        {% if NewsTaiWan2 %}
                            {{ NewsTaiWan2.0.category.title}}
                        {% endif %}
                    </h4>
                    <div class="row roww">
                        <div class="col-md-7 coll">
                            {% for news in NewsTaiWan2 %}
                                <div class="news-hoz mb-2">
                                    <div class="row roww">
                                        <div class="col-5 coll">
                                            <div class="thumb mb-3">
                                                <a href="#">
                                                    <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-7 coll">
                                            <div class="ct">
                                                <h6 class="title">
                                                    <a href="{% url 'home:detail' slug=news.slug %}">{{news.title}}</a>
                                                </h6>
                                                <div class="desc">
                                                    {{news.description | safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-5 coll">
                            <div class="list-nor">
                                {% for news in NewsTaiWan3 %}
                                    <div class="news-item">
                                        <h6 class="title">
                                            <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                        </h6>
                                    </div>
                                {% endfor %}
                                <div class="read-more">
                                    <a href="{% url 'home:category' pk=news_taiwan %}">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.section -->
                <!-- section -->
                <div class="cate-wrap mb-4">
                    <h4 class="heading">
                        {% if NewsVietNam2 %}
                            {{ NewsVietNam2.0.category.title}}
                        {% endif %}
                    </h4>
                    <div class="row roww">
                        <div class="col-md-7 coll">
                            {% for news in NewsVietNam2 %}
                                <div class="news-hoz mb-2">
                                    <div class="row roww">
                                        <div class="col-5 coll">
                                            <div class="thumb mb-3">
                                                <a href="#">
                                                    <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-7 coll">
                                            <div class="ct">
                                                <h6 class="title">
                                                    <a href="{% url 'home:detail' slug=news.slug %}">{{news.title}}</a>
                                                </h6>
                                                <div class="desc">
                                                    {{news.description | safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-5 coll">
                            <div class="list-nor">
                                {% for news in NewsVietNam3 %}
                                    <div class="news-item">
                                        <h6 class="title">
                                            <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                        </h6>
                                    </div>
                                {% endfor %}
                                <div class="read-more">
                                    <a href="{% url 'home:category' pk=news_vietnam %}">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.section -->
                <!-- section -->
                <div class="cate-wrap mb-4">
                    <h4 class="heading">
                        {% if NewsWorld2 %}
                            {{ NewsWorld2.0.category.title}}
                        {% endif %}
                    </h4>
                    <div class="row roww">
                        <div class="col-md-7 coll">
                            {% for news in NewsWorld2 %}
                                <div class="news-hoz mb-2">
                                    <div class="row roww">
                                        <div class="col-5 coll">
                                            <div class="thumb mb-3">
                                                <a href="{% url 'home:detail' slug=news.slug %}">
                                                    <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-7 coll">
                                            <div class="ct">
                                                <h6 class="title">
                                                    <a href="{% url 'home:detail' slug=news.slug %}">{{news.title}}</a>
                                                </h6>
                                                <div class="desc">
                                                    {{news.description | safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-5 coll">
                            <div class="list-nor">
                                {% for news in NewsWorld3 %}
                                    <div class="news-item">
                                        <h6 class="title">
                                            <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                        </h6>
                                    </div>
                                {% endfor %}
                                <div class="read-more">
                                    <a href="{% url 'home:category' pk=news_world %}">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.section -->

                <!-- section -->
                <div class="cate-wrap mb-4">
                    <h4 class="heading">
                        {% if NewsTravel6 %}
                            {{ NewsTravel6.0.category.title}}
                        {% endif %}
                    </h4>
                    <div class="row roww">
                        {% for news in NewsTravel6 %}
                            <div class="col-lg-4 col-6 coll">
                                <div class="news-vel mb-3">
                                    <div class="thumb mb-2">
                                        <a href="{% url 'home:detail' slug=news.slug %}">
                                            <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                        </a>
                                    </div>
                                    <div class="ct">
                                        <h6 class="title">
                                            <a href="{% url 'home:detail' slug=news.slug %}" class="size-nor">{{news.title}}</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="read-more">
                        <a href="{% url 'home:category' pk=news_travel %}">Xem thêm</a>
                    </div>
                </div>
                <!-- /.section -->

                <!-- section -->
                <div class="cate-wrap mb-4">
                    <h4 class="heading">
                        {% if NewsStudyAbroad2 %}
                            {{ NewsStudyAbroad2.0.category.title}}
                        {% endif %}
                    </h4>
                    <div class="row roww">
                        <div class="col-md-7 coll">
                            {% for news in NewsStudyAbroad2 %}
                                <div class="news-hoz mb-2">
                                    <div class="row roww">
                                        <div class="col-5 coll">
                                            <div class="thumb mb-3">
                                                <a href="{% url 'home:detail' slug=news.slug %}">
                                                    <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-7 coll">
                                            <div class="ct">
                                                <h6 class="title">
                                                    <a href="{% url 'home:detail' slug=news.slug %}">{{news.title}}</a>
                                                </h6>
                                                <div class="desc">
                                                    {{news.description | safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-5 coll">
                            <div class="list-nor">
                                {% for news in NewsStudyAbroad3 %}
                                    <div class="news-item">
                                        <h6 class="title">
                                            <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                        </h6>
                                    </div>
                                {% endfor %}
                                <div class="read-more">
                                    <a href="{% url 'home:category' pk=news_study_abroad %}">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.section -->

                    <!-- section -->
                    <div class="cate-wrap mb-4">
                    <h4 class="heading">
                        {% if NewsLifeTaiwan6 %}
                            {{ NewsLifeTaiwan6.0.category.title}}
                        {% endif %}
                    </h4>
                    <div class="row roww">
                        {% for news in NewsLifeTaiwan6 %}
                            <div class="col-lg-4 col-6 coll">
                                <div class="news-vel mb-3">
                                    <div class="thumb mb-2">
                                        <a href="{% url 'home:detail' slug=news.slug %}">
                                            <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                        </a>
                                    </div>
                                    <div class="ct">
                                        <h6 class="title">
                                            <a href="{% url 'home:detail' slug=news.slug %}" class="size-nor">{{news.title}}</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="read-more">
                        <a href="{% url 'home:category' pk=news_life_taiwan %}">Xem thêm</a>
                    </div>
                </div>
                <!-- /.section -->

            </div>
            <!-- /.left -->
            {% include "new-hot.html" %}
        </div>
    </div>
</div>