{% load static %}
<!-- right -->
<div class="col-lg-4">
    <div class="side-ct">
        <div class="side-widget">
            <h4 class="heading">
                 ĐƠN HÀNG XKLĐ ĐÀI LOAN HOT
            </h4>
            <div class="list-popular">
                {% for news in news_holy_gvgd %}
                    <div class="news-item">
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="ct">
                                    <h6 class="title">
                                        <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                    </h6>
                                    <div class="tag">
                                        <a href="{% url 'home:category' pk=news.category.pk %}">#{{news.category.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="thumb">
                                    <a href="{% url 'home:detail' slug=news.slug %}">
                                        <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for news in news_duhoc_dailoan %}
                    <div class="news-item">
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="ct">
                                    <h6 class="title">
                                        <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                    </h6>
                                    <div class="tag">
                                        <a href="{% url 'home:category' pk=news.category.pk %}">#{{news.category.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="thumb">
                                    <a href="{% url 'home:detail' slug=news.slug %}">
                                        <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for news in news_dainam %}
                    <div class="news-item">
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="ct">
                                    <h6 class="title">
                                        <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                    </h6>
                                    <div class="tag">
                                        <a href="{% url 'home:category' pk=news.category.pk %}">#{{news.category.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="thumb">
                                    <a href="{% url 'home:detail' slug=news.slug %}">
                                        <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for news in news_caohung_binhdong %}
                    <div class="news-item">
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="ct">
                                    <h6 class="title">
                                        <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                    </h6>
                                    <div class="tag">
                                        <a href="{% url 'home:category' pk=news.category.pk %}">#{{news.category.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="thumb">
                                    <a href="{% url 'home:detail' slug=news.slug %}">
                                        <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for news in news_daibac %}
                    <div class="news-item">
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="ct">
                                    <h6 class="title">
                                        <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                    </h6>
                                    <div class="tag">
                                        <a href="{% url 'home:category' pk=news.category.pk %}">#{{news.category.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="thumb">
                                    <a href="{% url 'home:detail' slug=news.slug %}">
                                        <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for news in news_daitrung %}
                    <div class="news-item">
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="ct">
                                    <h6 class="title">
                                        <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                                    </h6>
                                    <div class="tag">
                                        <a href="{% url 'home:category' pk=news.category.pk %}">#{{news.category.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="thumb">
                                    <a href="{% url 'home:detail' slug=news.slug %}">
                                        <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="side-widget">
            <h4 class="heading">
                Tin nổi bật
            </h4>
            <div class="list-nor">
                <div class="news-item news-item-hl">
                    <h6 class="title">
                        <a href="{% url 'home:detail' slug=newNews.slug %}">{{newNews.title}}</a>
                    </h6>
                    <div class="row roww align-center">
                        <div class="col-6 coll">
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="{{newNews.avata.url}}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 coll">
                            <div class="desc">
                                {{newNews.description | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                {% for news in newNews7 %}
                    <div class="news-item">
                        <h6 class="title">
                            <a href="{% url 'home:detail' slug=news.slug %}">{{news.description | safe}}</a>
                        </h6>
                    </div>
                {% endfor %}
                
            </div>

            <div class="side-widget">
                <h4 class="heading">
                    Người Việt Nam Tại Đài Loan
                </h4>
                <div id="fb-root">
                    <div id="fb-root"></div> <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=597828661072832&autoLogAppEvents=1"></script><div class="fb-page" data-href="https://www.facebook.com/vietnamlaodongxaxu/" data-tabs="timeline" data-width="350" data-height="467" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vietnamlaodongxaxu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vietnamlaodongxaxu/">Người Việt Nam Tại Đài Loan</a></blockquote></div>
                </div>
            </div>

            <div class="side-widget">
                <h4 class="heading">
                    Tin Đài Loan
                </h4>
                <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0&appId=597828661072832&autoLogAppEvents=1" nonce="E9jBBfEA"></script>
                    <div class="fb-group" data-href="https://www.facebook.com/groups/httptindailoan.net" data-width="360" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/httptindailoan.net" class="fb-xfbml-parse-ignore">Tin Đài Loan</blockquote></div>
            </div>

            <div class="side-widget">
                <h4 class="heading">
                    Đài Loan Chờ Tôi Nhé
                </h4>
                <div id="fb-root">
                    <div id="fb-root">
                        <div id="fb-root"></div>
                            <div id="fb-root"></div>
                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=597828661072832&autoLogAppEvents=1"></script>
                            <div class="fb-page" data-href="https://www.facebook.com/donhangdailoan1/" data-tabs="timeline" data-width="350" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/donhangdailoan1/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/donhangdailoan1/">Đài Loan Chờ Tôi Nhé</a></blockquote></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.right -->