{% extends "base.html" %}
{% comment %} {% load staticfiles %} {% endcomment %}


{% block title%}Danh mục tin tức{% endblock %}


{% block image_logo%}
    <link rel="shortcut icon" type="image/x-icon" href="{{logohead.image_logoOrBanner.url}}" />
{% endblock %}


{% block content %} 

    <!-- header -->
    {% include "header.html" %}
    <!-- end-header -->
    <!-- main -->
    <div class="main-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{% url 'home:index' %}">Home</a>
                        <span class="breadcrumb-item active">{{object_list.0.category.title}}</span>
                    </nav>
                </div>
            </div>
            

                {% if object_list.0.category.is_category %}

               
                <!-- main -->
                <div class="about-wp">
                    <div class="container">
                        <h1>{{object_list.0.title }}</h1>
                        <div class="content">
                            <p>
                                {{object_list.0.content | safe}}
                            </p>
                            <p class="text-center">
                                <img class="img-fluid" src="images/home/about.png" alt="">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="contact-wp">
                    <div class="container">
                        <div class="row flex-reverse">
                            <div class="col-lg-6">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7126676037224!2d105.77217741493286!3d21.044179885990037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454cec92b48ef%3A0x21eda1d01b833b64!2zMTQ2IFRy4bqnbiBW4bu5LCBNYWkgROG7i2NoLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1583693566033!5m2!1svi!2s" width="555" height="457" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                            <div class="col-lg-6">
                                <h4>liên hệ với chúng tôi</h4>
                                <form action="">
                                    <div class="form-group">
                                        <label for="">Họ & Tên</label>
                                        <input type="text" name="" id="" class="form-control" placeholder="Ví dụ: Nguyễn Văn A" aria-describedby="helpId">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="">Số điện thoại</label>
                                                <input type="text" name="" id="" class="form-control" placeholder="Ví dụ: 0969310911" aria-describedby="helpId">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="">Email</label>
                                                <input type="text" name="" id="" class="form-control" placeholder="Ví dụ: nguyenvana@gmail.com" aria-describedby="helpId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Họ & Tên</label>
                                        <textarea name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-submit">Gửi</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.main -->

                {% else %}
                 <div class="row">
                <!-- left -->
                <div class="col-lg-8">
                    <div class="list-news">
                        {% for news in object_list %}
                            <div class="news-hoz mb-2">
                                <div class="row roww">
                                    <div class="col-xl-3 col-5 coll">
                                        <div class="thumb mb-3">
                                            <a href="#">
                                                <img class="img-fluid" src="{{news.avata.url}}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-7 coll">
                                        <div class="ct">
                                            <h6 class="title">
                                                    
                                                <a href="{% url 'home:detail' slug=news.slug %}">{{news.title}}</a>
                                            </h6>
                                            <div class="desc">
                                                {{news.description | safe}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {% if is_paginated %}
                        <nav class="text-center mt-3 mb-5">
                            <ul class="pagination">
                                <li>
                                    {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number  }}" class="pagination-item next">Back</a>
                                    {% endif %}
                                </li>
                                <li>
                                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                </li>
                                <li>
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}" class="pagination-item next">Next</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                </div>
                <!-- /.left -->
                
                <!-- right -->
                {% include "new-hot.html" %}
                <!-- /.right -->
                
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /.main -->

    <!-- footer -->
    {% include "footer.html" %}
    <!-- /.footer -->

{% endblock %}