{% extends "base.html" %}
{% load static %}
{% comment %} {% load staticfiles %} {% endcomment %}

{% block title%}{{object.title}}{% endblock %}
{% block image_logo%}
    <link rel="shortcut icon" type="image/x-icon" href="{{logohead.image_logoOrBanner.url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image"              content="{{object.avata.url}}" />
    <meta property="og:description"        content="&hellip;" />
    <meta property="og:title"              content="{{object.title}}" />
{% endblock %}

{% block content %} 

     <!-- header -->
    {% include "header.html" %}
    <!-- end-header -->

    <!-- main -->
    <div class="main-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{% url 'home:index' %}">Home</a>
                        <span class="breadcrumb-item active">{{object.category}}</span>
                    </nav>
                </div>
            </div>
            <div class="row">
                <!-- left -->
                <div class="col-lg-8">
                    <div class="single-post">
                        <article>
                            <h1>{{object.title}}</h1>
                            <div class="meta">
                                <div class="date">{{object.create_at}}</div>
                                <div class="author">{{object.author}}</div>
                            </div>
                            <img class="img-fluid" src="{{object.avata.url}}" alt="">
                            <div class="content-post">
                                {{object.content | safe}}
                            </div>
                        </article>
                        <div id="fb-root">
                            <meta property="og:image" content="{{object.avata.url}}" />
                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=597828661072832&autoLogAppEvents=1"></script>
                            <div class="fb-share-button" data-href="{% url 'home:detail' slug=object.slug %}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
                        </div>
                        <div><span>Lượt khách xem bài viết: {{object.views_number}}</span></div>
                        
                    </div>
                    <div class="related-post">
                        <h4 class="heading">
                            Tin liên quan
                        </h4>
                        <ul>
                            {% for news in NewsRelateTo %}
                                <li>
                                    <a href="{% url 'home:detail' slug=news.slug %}">{{news.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /.left -->

                <!-- right -->
                {% include "new-hot.html" %}
                <!-- /.right -->
            </div>
        </div>
    </div>
    <!-- /.main -->

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="ct-footer">
                <div class="row align-center">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="#">
                                <img class="img-fluid" src="images/home/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="cpr">
                            <strong>Copyright 2020</strong>, All rights reserved
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="arp">
                            © THÔNG TIN TỔNG HỢP TAIWAN™
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.footer -->

{% endblock %}
    
