{% extends "base.html" %}
{% comment %} {% load staticfiles %} {% endcomment %}

{% block title%}Đăng ký{% endblock %}

{% block content %} 

    <!-- header -->
    {% include "header.html" %}
    <!-- end-header -->
    <!-- main -->
    <div class="block-user-login">
        <div class="container">
            <div class="user-login">
                <div class="block-left">
                    <h1 class="header-font">đăng ký</h1>
                    <p class="header-font">hoặc <a href="http://tindailoan.net/admin/">Đăng nhập</a></p>
                </div>
                <div class="block-right">
                    <div class="form-login">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" value="Đăng ký"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main -->

    <!-- footer -->
    {% include "footer.html" %}
    <!-- /.footer -->

{% endblock %}